@import "variables";
@import "fonts";
@import "classes";
@import "animations";

.root {
  position: fixed;
  bottom: 40px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background: $color-white;
  border-radius: $border-radius-large;
  box-shadow: $shadow-strong;
  animation: appear-pop 0.3s $transition-easing 1.5s 1 alternate both;
  overflow: hidden;

  .currency {
    display: flex;
    flex-direction: column;
    flex: 1;

    .name {
      color: $color-grey;
      text-align: center;

      @extend %font-medium;
    }

    .valueWrapper {
      position: relative;
      flex: 1;
      height: 25px;

      .value {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;

        @extend %font-medium-bold;
      }
    }

    &.trend {
      &-up {
        .value {
          transition: all 0.5s $transition-easing;

          &[class*=' anim-enter'] {
            transform: translateY(-20px);
            color: $color-green;
            opacity: 0;
          }

          &[class*=' anim-enter-active'] {
            transform: translateY(0);
            opacity: 1;
          }

          &[class*=' anim-enter-done'] {
            transform: translateY(0);
            opacity: 1;
            color: $color-black;
          }

          &[class*=' anim-exit'] {
            transform: translateY(0);
            opacity: 1;
          }

          &[class*=' anim-exit-active'] {
            transform: translateY(20px);
            opacity: 0;
            transition: all 0.5s $transition-easing;
          }
        }
      }

      &-down {
        .value {
          transition: all 0.5s $transition-easing;

          &[class*=' anim-enter'] {
            transform: translateY(20px);
            opacity: 0;
          }

          &[class*=' anim-enter-active'] {
            transform: translateY(0);
            opacity: 1;
            color: $color-red;
          }

          &[class*=' anim-enter-done'] {
            transform: translateY(0);
            opacity: 1;
            color: $color-black;
          }

          &[class*=' anim-exit'] {
            transform: translateY(0);
            opacity: 1;
          }

          &[class*=' anim-exit-active'] {
            transform: translateY(-20px);
            opacity: 0;
          }
        }
      }
    }
  }
}
