@import "variables";
@import "fonts";
@import "classes";

.button {
  cursor: pointer;
  border-radius: $border-radius;
  border: 1px solid $color-grey-light;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
  box-sizing: border-box;

  &.color {
    &-blue {
      background: $color-blue;
      color: $color-white;

      &:hover {}
    }

    &-rose {
      background: $color-rose;
      color: $color-white;

      &:hover {}
    }

    &-white {
      background: $color-white;
      color: $color-blue;

      &:hover {}
    }
  }

  &.type {
    &-text {}

    &-icon {}
  }

  &.size {
    &-medium {
      height: 31px;
      min-width: 31px;
      border-radius: 15px;

      @extend %font-medium-bold;
    }

    &-large {
      height: 61px;
      min-width: 61px;
      border-radius: 30px;
    }
  }

  &.shadow {
    box-shadow: $shadow-main;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}
