// fonts
$font-main: 'Quicksand', sans-serif;
$font-sub: 'Raleway', sans-serif;

%font-header-1 {
  font-family: $font-main;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.8em;
}

%font-header-2 {
  font-family: $font-main;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8em;
}

%font-large-bold {
  font-family: $font-main;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.8em;
}

%font-large {
  font-family: $font-main;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8em;
}

%font-medium-bold {
  font-family: $font-sub;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8em;
}

%font-medium {
  font-family: $font-sub;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8em;
}

%font-small-bold {
  font-family: $font-sub;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8em;
}

%font-small {
  font-family: $font-sub;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8em;
}

%font-text {
  font-family: $font-sub;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8em;
}

%font-number {
  font-family: $font-main;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8em;
}
