// colors
$color-black: #333;
$color-background: #fbfbfb;
$color-grey: #999;
$color-grey-light: #e5e5e5;
$color-grey-dark: #999;
$color-ecru: #f7f7f7;
$color-white: #fff;
$color-blue: #0075eb;
$color-rose: #eb008d;
$color-yellow: #f6ce42;
$color-red: #d20000;
$color-green: #23ab23;

// shadow
$shadow-main: 0 4px 16px rgba(0, 0, 0, 0.05);
$shadow-strong: 0 4px 32px rgba(0, 0, 0, 0.1);

//border-radius
$border-radius-large: 10px;
$border-radius: 4px;

//transitions
$transition-time: 0.2s;
$transition-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
