@import "variables";
@import "fonts";
@import "classes";
@import "animations";

.root {
  width: 400px;
  display: flex;
  flex-direction: column;

  .header {
    width: 400px;
    padding: 0 30px 20px;
    animation: appear-pop 0.3s $transition-easing 0.8s 1 alternate both;

    @extend %font-header-2;
  }

  .form {
    position: relative;

    .card {
      position: relative;
      width: 400px;
      min-height: 220px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      background: $color-white;
      border-radius: $border-radius-large;
      box-shadow: $shadow-strong;
      z-index: 2;
      animation: appear-stretch 0.3s $transition-easing 0.5s 1 alternate both;

      .field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 20px 30px;
        animation: appear-opacity 0.3s linear 1s 1 alternate both;

        .left {
          display: flex;
          flex-direction: column;

          .label {
            text-transform: uppercase;
            color: $color-grey;

            @extend %font-medium;
          }

          .name {
            position: relative;

            @extend %font-large-bold;

            .button {
              position: absolute;
              top: 0;
              left: calc(-30px - 15.5px);
              animation: appear-opacity-scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s 1 alternate both;
            }
          }
        }

        .right {
          .value {
            width: 120px;
            text-align: right;
            border: none;
            outline: none;

            @extend %font-large-bold;
          }
        }
      }

      .separator {
        position: relative;
        height: 1px;
        padding: 0 30px;
        background: $color-grey-light;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
          display: flex;
          flex-direction: row;
          margin-top: -16px;
          position: relative;
          z-index: 1;
          animation: appear-opacity-scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.2s 1 alternate both;

          .pill {
            height: 31px;
            width: 75px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            margin-right: 15px;
            background: $color-white;
            border: 1px solid $color-grey-light;
            border-radius: 15px;

            @extend %font-small-bold;

            .spinner {
              width: 10px;
              height: 10px;
              margin-right: 10px;
              border-radius: 50%;
              background-color: $color-blue;

              &.active {
                animation: pulse-2 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s infinite both;
              }
            }
          }
        }

        .right {
          margin-top: -31px;
          position: relative;
          z-index: 1;
          animation: appear-opacity-scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.4s 1 alternate both;
        }
      }
    }

    &::before {
      position: absolute;
      left: -100px;
      right: -100px;
      bottom: calc(50% - 1px);
      height: 100px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
      content: '';
      z-index: 0;
      animation: appear-opacity 0.3s linear 0s 1 alternate both;
    }

    &::after {
      position: absolute;
      left: -100px;
      right: -100px;
      bottom: calc(50% - 1px);
      height: 100px;
      background: linear-gradient(to right, #fbfbfb 0%, rgba(250, 0, 0, 0) 20%, rgba(250, 0, 0, 0) 80%, #fbfbfb 100%);
      content: '';
      z-index: 0;
      animation: appear-opacity 0.3s linear 0s 1 alternate both;
    }
  }
}
