@import "variables";
@import "fonts";
@import "classes";

.app {
  font-family: $font-sub;
}

.view {
  width: 100%;
  min-height: 100vh;
  background: $color-background;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
