@import "variables";

.icon {
  display: inline-block;
  position: relative;

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }

  g,
  path {
    transition: fill $transition-time $transition-easing;
    fill: var(--color);
  }

  &.size {
    &-small {
      height: 16px;
      width: 16px;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    &-medium {
      height: 20px;
      width: 20px;

      svg {
        height: 20px;
        width: 20px;
      }
    }

    &-large {
      height: 30px;
      width: 30px;

      svg {
        height: 30px;
        width: 30px;
      }
    }

    &-xlarge {
      height: 40px;
      width: 40px;

      svg {
        height: 40px;
        width: 40px;
      }
    }
  }
}
