@import "variables";
@import "classes";
@import "fonts";


.tutorial {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  &[class*=' anim-enter'] {
    opacity: 0;
  }

  &[class*=' anim-enter-active'] {
    opacity: 1;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &[class*=' anim-enter-done'] {
    opacity: 1;
  }

  &[class*=' anim-exit'] {
    opacity: 1;
  }

  &[class*=' anim-exit-active'] {
    opacity: 0;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
