@import "variables";
@import "fonts";
@import "classes";

.root {
  position: absolute;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-width: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: $shadow-main;

  @extend .scroll;

  .option {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;

    @extend %font-medium-bold;

    &:hover {
      background: $color-ecru;
      color: $color-blue;
    }

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &[class*=' anim-enter'] {
    opacity: 0;
  }

  &[class*=' anim-enter-active'] {
    opacity: 1;
    transition: opacity 0.2s $transition-easing 0s;
  }

  &[class*=' anim-enter-done'] {
    opacity: 1;
  }

  &[class*=' anim-exit'] {
    opacity: 1;
  }

  &[class*=' anim-exit-active'] {
    opacity: 0;
    transition: opacity 0.2s $transition-easing 0s;
  }
}
