@import "variables";
@import "fonts";
@import "classes";

.toast {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  transition: transform 0.2s $transition-easing 0.2s;

  .content {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 20px;
    transform-origin: 100% 100%;
    border-radius: $border-radius;
    z-index: 1;
    box-shadow: $shadow-main;

    span.title {
      flex-wrap: nowrap;
      white-space: nowrap;
      margin-right: 5px;

      @extend %font-medium-bold;
    }

    span.text {
      flex-wrap: nowrap;
      white-space: nowrap;

      @extend %font-medium;
    }

    .remove {
      width: 10px;
      height: 10px;
      cursor: pointer;
      opacity: 0.8;
      margin-left: 10px;

      path {
        fill: $color-blue;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .start {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  &.color {
    &-white {
      .content {
        background: $color-white;
        color: $color-black;
      }
    }

    &-rose {
      .content {
        background: $color-white;
        color: $color-rose;
      }
    }
  }

  &[class*=' anim-enter'] {
    opacity: 0;

    .content {
      transform: scaleX(0);

      > div {
        opacity: 0;
      }
    }

    .start {
      transform: scale(0);
    }
  }

  &[class*=' anim-enter-active'] {
    opacity: 1;
    transition: opacity 0.2s $transition-easing 0s;

    .content {
      transform: scaleX(1);
      transition: all 0.2s $transition-easing 0.5s;

      > div {
        opacity: 1;
        transition: opacity 0.2s $transition-easing 0.8s;
      }
    }

    .start {
      transform: scale(1);
      transition: transform 0.2s $transition-easing 0.2s;
    }
  }

  &[class*=' anim-enter-done'] {
    opacity: 1;

    .content {
      transform: scaleX(1);

      > div {
        opacity: 1;
      }
    }

    .start {
      transform: scale(1);
    }
  }

  &[class*=' anim-exit'] {
    opacity: 1;
  }

  &[class*=' anim-exit-active'] {
    opacity: 0;
    transition: all 0.2s $transition-easing 0s;
  }
}
