@import "variables";
@import "fonts";
@import "classes";

.toaster {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &.visible {
    pointer-events: auto;
  }
}
