@import "variables";
@import "classes";
@import "fonts";

.tutorialStep {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  .card {
    display: block;
    width: 430px;
    padding: 24px 36px;
    border-radius: $border-radius;
    background: $color-white;
    box-shadow: $shadow-main;

    .title {
      display: block;
      padding-bottom: 12px;
      color: $color-black;

      @extend %font-large-bold;

      .index {
        display: inline-block;
        margin-right: 20px;

        @extend %font-large;
      }
    }

    .content {
      display: block;

      .text {
        @extend %font-text;
      }

      .buttons {
        display: flex;
        margin-top: 30px;

        button {
          margin-right: 20px;
        }
      }
    }

    &.position {
      &-topLeft {
        &::after {
          top: 30px;
          left: 0;
          margin-left: -10px;
          margin-top: -10px;
          background: $color-white;
        }
      }

      &-top {
        &::after {
          top: 0;
          left: 50%;
          margin-left: -10px;
          margin-top: -10px;
          background: $color-white;
        }
      }

      &-topRight {
        &::after {
          top: 30px;
          right: 0;
          margin-right: -10px;
          margin-top: -10px;
          background: $color-white;
        }
      }

      &-bottomLeft {
        &::after {
          bottom: 30px;
          left: 0;
          margin-left: -10px;
          margin-bottom: -10px;
          background: $color-white;
        }
      }

      &-bottom {
        &::after {
          bottom: 0;
          left: 50%;
          margin-left: -10px;
          margin-bottom: -10px;
          background: $color-white;
        }
      }

      &-bottomRight {
        &::after {
          bottom: 30px;
          right: 0;
          margin-right: -10px;
          margin-bottom: -10px;
          background: $color-white;
        }
      }
    }
  }

  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.positioned {
    .card {
      position: absolute;

      &::after {
        display: none;
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }
    }
  }

  &[class*=' anim-enter'] {
    .card {
      opacity: 0;
      transform: scale(0.8);
    }
  }

  &[class*=' anim-enter-active'] {
    .card {
      opacity: 1;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
    }
  }

  &[class*=' anim-enter-done'] {
    .card {
      opacity: 1;
      transform: scale(1);
    }
  }

  &[class*=' anim-exit'] {
    .card {
      opacity: 1;
      transform: scale(1);
    }
  }

  &[class*=' anim-exit-active'] {
    .card {
      opacity: 0;
      transform: scale(0.8);
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    }
  }
}
